<script src="script/page.js"></script>
<div class="container-fluid table-responsive" ng-app="sampleApp" ng-controller="HomeController">
	<h1>Home Page</h1>
	<!-- <div class="clock" style="margin:2em;"></div>
	<script type="text/javascript">
		var clock;
		$(document).ready(function() {
			
			// Grab the current date
			var currentDate = new Date();
			// Set some date in the past. In this case, it's always been since Jan 1
			var futureDate  = new Date(currentDate.getFullYear(), 10, 21);
			// Calculate the difference in seconds between the future and current date
			var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;
			// Instantiate a coutdown FlipClock
			clock = $('.clock').FlipClock(diff, {
				clockFace: 'DailyCounter',
				countdown: true
			});
			
			var clock = $('.clock').FlipClock({
				clockFace: 'TwentyFourHourClock'
			});
		});
	</script>
	-->
</div>